@media(min-width: 992px) {
  #menu {
    margin-top: 70px;
  }
}

.site img {
  max-width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #ddd;
}

.site-thumbnails {
  min-width: 300px;
}

a.thumbnail {
  padding: 10px;
  text-size: smaller;

  height: 220px;
}

a.thumbnail:hover {
  background: #fce94f !important;
  border-color: #ce5c00 !important;
}

a.thumbnail img {
  border: 1px solid #999;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eeeeee;
  margin-top: 20px;
}

.site .url {
  color: #999;
  font-size: larger;
  margin-bottom: 0;
}

.site .name {
  margin-top: 0;
}
